iframe {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  table-layout: fixed;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  padding: 8px;
  background-color: #f2f2f2;
}

#sensor-table td {
  padding: 8px;
}

#status {
  color: green;
}

#reconnect-status {
  color: orange;
  font-style: italic;
}

#update-button, #save-button, #lock-button, #calibration-button, #download-button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(207, 207, 207);
  border: #2d2c2c solid 1px;
  border-radius: 3px;
}

#update-button:hover, #save-button:hover, #lock-button:hover, #calibration-button:hover, #download-button:hover {
  background-color: gray;
}

.tables-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
